

/* *{
  box-sizing: border-box;
  margin: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.front_list {
  display: flex;
  align-items: center;
  
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.type {

  margin: 0 20px 0 5px;
}
.word {
  font-size: 14px;
  font-weight: 600;
  flex:1;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
